services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8000:80"
    depends_on:
      - mongo
      - mail
    volumes:
      - .:/app:delegated
      - ./storage:/app/storage
      - ./database:/app/database
      - /app/vendor
    networks:
      - app-net

  mongo:
    image: mongo:6.0
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-net

  mail:
    image: axllent/mailpit:latest
    restart: unless-stopped
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - app-net

networks:
  app-net:

volumes:
  mongo_data: